/* #homeVideo {
    
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  } */

  *{
    box-sizing: border-box;
  }
  
  body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
  }

  .sub{
    padding-top: 100px;
  }
  
  .v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
  }
  
  .container{
    max-width:960px;
    /* width: 100%; */
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
  }
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1;
    background:#225470;
    opacity:0.85;
  }
  
  .header-content{
    z-index:2;
    margin-left: auto;
    margin-right: auto;

  }
  
  .header-content h1{
    font-size:80px;
    margin-bottom:0;
  }
  
  .header-content p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
  }
  
  .btn{
    background: #34b3a0;
    color:#fff;
    font-size:1.2rem;
    padding: 1rem 2rem;
    text-decoration: none;
  }
  
  .section{
    padding:20px 0;
  }
  
  .section-b{
    background:#333;
    color:#fff;
  }
  
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }
  nav{
      /* z-index: 3; */
      /* background-color: transparent; */

      
  }
  .navbar-nav > li{
    margin-left:20px;
    margin-right:20px;
  }

  .navbar-dark {
    background-color: transparent !important; 
    color: #FFFFFF !important;
    transition: 0.2s ease;
  }

  .navbar-dark.scrolled {
    background-color: #FFFFFF !important;
    /* color: #000000 !important; */
  }
  .navbar-dark:hover {
    background-color: #FFFFFF !important;
    color: #000000 !important;
    transition: 0.2s ease;
  }

  .navbar-dark:hover .navbar-nav > ul > li > a, .navbar-dark .navbar-nav > ul >li > a {
    color: black !important; /*Sets the text hover color on navbar*/
    transition: 0.1s ease;
  }

  .headline {
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;

  }

  #image
  {
    width: 100%;
  }

 

  /* .nav-link {
    color: #000000 !important;
  }
  .nav-link.scrolled {
    color: #000000 !important;
  } */
  .navbar-dark .navbar-nav > ul > li > a:hover, .navbar-dark .navbar-nav > ul >li > a:focus {
    color: blue !important; /*Sets the text hover color on navbar*/
    transition: 0.1s ease;
  }

  .navbar-dark .navbar-nav > ul > li > a.scrolled:hover, .navbar-dark .navbar-nav > ul >li > a.scrolled:focus {
    color: blue !important; /*Sets the text hover color on navbar*/
    transition: 0.1s ease;
  }

  .navbar-dark .navbar-nav > ul > li > a {
    color: white !important ; /*Change active text color here*/
    transition: 0.1s ease;
  }
  .navbar-dark .navbar-nav > ul > li > a.scrolled {
    color: black !important ; /*Change active text color here*/
    transition: 0.1s ease;
  }

  .navfix {
    background-color: white   !important; 
    color: black !important ; 
  }
  .navfix:hover {
    background-color: white   !important; 
    color: blue !important ; 
  }


  .navfix .navbar-nav > ul >li > a {
    color: black !important; /*Sets the text hover color on navbar*/
    transition: 0.1s ease;
  }

  .navfix .navbar-nav > ul > li > a:hover{
    color: blue !important; /*Sets the text hover color on navbar*/
    transition: 0.1s ease;
  }

  .imagehome{
    position: relative;
  }

  .text-block {
    position: absolute;
    
    top: 30%;
    left: 10%;
    max-width: 30%;
    background-color: darkblue;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .text-block2 {
    position: absolute;
    
    top: 30%;
    right: 10%;
    max-width: 30%;
    background-color: darkblue;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .footer {
    border-top: 1px gray;
  }
  .footer-div{
    margin-bottom: 10px;
  }

  
/* 
  .navbar-nav.scrolled a  {
    color: blue !important;
} */